.flex-one {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}


.form-container-profile {
  width: 60% !important;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


.flex-one input {
  width: 380px;
}


.flex-one img {
  border-radius: 50%;
  height: 173px;
  width: 173px;
  position: relative;
  left: 90px;
  border: 2px white solid;
}


.float-profile-right {
  position: relative;

}


.flex-two {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}

.flex-two input {
  width: 380px;
}

.bio  {
  width: 790px;
  position: relative;
  left: 15px;
}

.skills-update {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px
}

.teach {
  border: white 2px solid;
  padding: 15px;
}

.learn {
  border: white 2px solid;
  padding: 20px;
}

.learn a {
  margin: 3px;
  background-color: black; /* Button background */
  color: white; /* Text color */
  padding: 7px; /* Button size */
  text-decoration: none; /* Remove underline from links */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  display: inline-block;
}

.teach a {
  margin: 3px;
  background-color: black; /* Button background */
  color: white; /* Text color */
  padding: 7px; /* Button size */
  text-decoration: none; /* Remove underline from links */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  display: inline-block;
}


.teach h5 {
  display: inline-block;
  font-size: 20px;
}


.learn h5 {
  display: inline-block;
  font-size: 20px;
}
