<div class="row" style="min-height: calc(100vh - 80px)">
  <div class="col-3">
    <% @chatrooms.each do |chatroom| %>
      <div class="chatroom">
        <p><%= chatroom.id %></p>
        <p><%= link_to '', chatroom_path(chatroom) %></p>
      </div>
    <% end %>
  </div>
  <div class="col-9 bg-dark">

  </div>
</div>
