<div class="row gx-0" style="min-height: calc(100vh - 80px)">
  <div class="col-3" data-chatroom-subscription-target="chatrooms">
    <%= render "chatrooms", chatrooms: @chatrooms %>
  </div>
  <div class="col-9 bg-white">
    <% if @chatrooms.empty? %>
      <div class="unhappy-message">
       <div class="no-matches">
       <br>
        <br>
        <h1> Your chats</h1>
        <br>
        <p>You see no matches because you have not added any skills you can teach and skills that you want to learn.</p>
        <%= link_to "Click here to add skills", profile_edit_path(anchor: "skills-update")    , class: "button-no-matches" %>
      </div>
      </div>
    <% end %>
  </div>
</div>
