<div class="row gx-0" style="min-height: calc(100vh - 80px)">
  <div class="col-3" data-chatroom-subscription-target="chatrooms">
    <%= render "chatrooms", chatrooms: @chatrooms %>
  </div>
  <div class="col-9 bg-white">

  </div>
</div>
