<div class="row" style="min-height: calc(100vh - 80px)">
  <div class="col-3">
    <% @chatrooms.each do |chatroom| %>
      <div class="chatroom">
        <%= link_to chatroom.match.other_user(current_user).name, chatroom_path(chatroom) %>
      </div>
    <% end %>
  </div>
  <div class="col-9 bg-dark">

  </div>
</div>
