<div class="form-skills">

<h1> Choose what you want to learn </h1>
<br>
<%= simple_form_for @learn_skill do |f|%>
  <%= f.association :skill %>
  <%= f.button :submit, class: "button-primary" %>
<%end%>
</div>
