<% current_user.learn_skills.each do |ls| %>
  <h2> <%= @matches.any? { |m| m.teach_skill_2.skill == ls.skill } ? ls.skill.name : "" %> </h2>
<% @matches.each do |m| %>
    <% if m.teach_skill_2.skill == ls.skill %>
        <p><%= m.teach_skill_2.user.name %></p>
        <p> <%= m.learn_skill_2.skill.name %> </p>
        <%= cl_image_tag m.teach_skill_2.user.photo.key, height: 300, width: 400, crop: :fill  %>


    <% end %>
  <% end %>
<% end %>
