.button-primary {
  width: 100%;
  background-color: black; /* Button background */
  color: white; /* Text color */
  padding: 10px 20px; /* Button size */
  text-decoration: none; /* Remove underline from links */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  margin: 1em 0;
  display: inline-block;

  &:hover {
    background-color: white !important; /* Hover background */
    color: black !important; /* Hover text color */
    cursor: pointer !important; /* Change cursor to indicate it's clickable */
  }
}

.button-secondary {
  background-color: #666; /* Button background */
  color: white; /* Text color */
  padding: 10px 20px; /* Button size */
  text-decoration: none; /* Remove underline from links */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  margin: 1em 0;
  display: inline-block;

  &:hover {
    background-color: white !important; /* Hover background */
    color: #666 !important; /* Hover text color */
    cursor: pointer !important; /* Change cursor to indicate it's clickable */
  }
}
