.chat-container {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    flex-wrap: wrap;

  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-card {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px;

  &.active {
    // background-color: #362B48;
    background-color: #FDF7FF;
  }

  h6 {
    color: #333;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
  }

  p {
    color: #666;
    font-size: 14px;
  }
}

.chatroom-card a {
  text-decoration: none;
  color: black;
}


.chatroom-details {
  display: flex;
  gap: 5px;
}


.chatroom-details h6 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  left: 10px;
  top: 5px;
}

.last-message {
  opacity: 50%;
  font-size: 12px;
}

.button-no-matches {
  width: 30%;
  background-color: black; /* Button background */
  color: white; /* Text color */
  padding: 10px 20px; /* Button size */
  text-decoration: none; /* Remove underline from links */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  margin: 1em 0;
  display: inline-block;

  &:hover {
    background-color: white; /* Hover background */
    color: black; /* Hover text color */
    cursor: pointer; /* Change cursor to indicate it's clickable */
  }
}


.no-matches {
  text-align: center;
}
