.navbar-lewagon {
  // justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #7746EF, #6847f5); /* Adjust the second color as needed */
  border-bottom: 2px solid #5838d1; /* Adjust the color as needed */
}

.navbar-wagon-link {
  margin: 0 1em;
  // align-items: center;
  color: white;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
  height: 45px;
}

.navbar-home {
  position: fixed;
  width: 100%;
  background: transparent;
  box-shadow: none;

  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.navbar-title {
  display: inline;
  color: white;
  position: relative;
  top: 8px;
}


.special-button {
  background-color: white;
  padding: 10px;
  color:#5838d1;
  border-radius: 10px;
}

.nav-item a {
  text-decoration: none !important;
}

.nav-item :hover {
  text-decoration: underline !important;
  text-decoration-color: white !important;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
